<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		<%= pageTitle %>
	</title>
	<%- include("../partials/head") %>
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
</head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-behavior: sticky (default), fixed, compact
-->

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
	<div class="wrapper">
		<%- include("../partials/sidebar", {collapsed: 'false' }); %>

			<div class="main">
				<%- include("../partials/header") %>

					<main class="content p-3">

						<div class="container-fluid ">
							<div class="row" style="display: none;">
								<div class="col-12">
									<div class="card">
										<div class="card-header">
											<div class="row">
												<div class="card-actions ">
													<button id="advanceSearch" class="btn btn-secondary">Filter</button>

													<button id="clearFilter" class="btn btn-outline-success"
														style="display:none" title="Clear Filter">
														Clear
													</button>
												</div>

											</div>
										</div>
										<div class="card-body" id="advanceContent" style="display: none;">
											<div class="row col-md-12">

												<div class="col-md-2">
													<div class="mb-3">
														<label class="form-label">Order Id</label>
														<input class="form-control" />
													</div>
												</div>
												<div class="col-md-2">
													<div class="mb-3">
														<label class="form-label">Confirmation</label>
														<input class="form-control" />
													</div>
												</div>
												<div class="col-md-4">
													<div class="mb-3">
														<label class="form-label">Passenger Name</label>
														<input class="form-control" />
													</div>

												</div>
												<div class="col-md-4">
													<div class="mb-3">
														<label class="form-label">Email Address</label>
														<input class="form-control" />
													</div>

												</div>
											</div>

											<div class="row col-md-12">

												<div class="col-md-4">
													<div class="mb-3">
														<label class="form-label">Order Date</label>
														<input class="form-control datetimes" />
													</div>
												</div>
												<div class="col-md-4">
													<div class="mb-3">
														<label class="form-label">Travel Date</label>
														<input class="form-control datetimes" />
													</div>
												</div>
												<div class="col-md-4">
													<div class="mb-3">
														<label class="form-label">Client Pmt Date</label>
														<input class="form-control datetimes" />
													</div>

												</div>
											</div>

											<div class="row col-md-12">

												<div class="col-md-4">
													<div class="mb-3">
														<label class="form-label">Refund Date</label>
														<input class="form-control datetimes" />
													</div>

												</div>
												<div class="col-md-4">
													<div class="mb-3">
														<label class="form-label">Amend Date</label>
														<input class="form-control datetimes" />
													</div>

												</div>
												<div class="col-md-2">
													<div class="mb-3">
														<label class="form-label">Booking Confirmed</label>
														<select class="form-control">
															<option value="All">--All--</option>
															<option value="Yes">Yes</option>
															<option value="No">No</option>
														</select>

													</div>

												</div>
												<div class="col-md-2">
													<div class="mb-3">
														<label class="form-label">Report Output</label>
														<select class="form-control">
															<option value="All">--All--</option>
															<option value="Key Detail">Key Detail</option>
															<option value="Full Detail">Full Detail</option>
														</select>
													</div>
												</div>
											</div>

											<div class="row col-md-12">
												<div class="col-md-2">
													<div class="mb-3">
														<label class="form-label">Client Name</label>
														<input class="form-control" />
													</div>
												</div>
												<div class="col-md-2">
													<div class="mb-3">
														<label class="form-label">Merch of Record</label>
														<select class="form-control">
															<option value="All">--All--</option>
															<option value="Yes">Yes</option>
															<option value="No">No</option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="mb-3">
														<label class="form-label">Supplier Name</label>
														<select class="form-control">
															<option value="All">--All--</option>
														</select>
													</div>

												</div>
												<div class="col-md-2">
													<div class="mb-3">
														<label class="form-label">Invoice Type</label>
														<select class="form-control">
															<option value="All">--All--</option>
															<option value="Sale">Sale</option>
															<option value="Failed">Failed</option>
															<option value="Test">Test</option>
														</select>
													</div>

												</div>
												<div class="col-md-2">
													<div class="mb-3">
														<label class="form-label">Booking Status</label>
														<select class="form-control">
															<option value="All">--All--</option>
															<option value="Sale (Previously Active)">Sale
																(Previously
																Active)</option>
															<option value="Failed">Failed</option>
															<option value="Test">Test</option>
															<option value="Refunded">Refunded</option>
															<option value="Amended">Amended</option>
														</select>
													</div>

												</div>
												<div class="col-md-2">
													<div class="mb-3">
														<label class="form-label">Travel Type</label>
														<select class="form-control">
															<option value="All">--All--</option>
															<option value="Flight">Flight</option>
															<option value="Hotel">Hotel</option>
															<option value="Car">Car</option>
															<option value="Activity">Activity</option>
															<option value="Insurance">Insurance</option>
															<option value="Getaway Trip">Getaway Trip</option>
															<option value="Getaway Cruise">Getaway Cruise</option>
															<option value="Group Trip">Group Trip</option>
															<option value="Group Cruise">Group Cruise</option>
															<option value="Vacation Rental">Vacation Rental</option>
														</select>

													</div>

												</div>
											</div>

											<div class="row col-md-12">
												<div class="col-md-2">
													<button class="btn btn-primary btn-lg"
														style="height: 100%;width:100%">SUBMIT
													</button>
												</div>
												<div class="col-md-2">
													<div class="mb-3">
														&nbsp;
													</div>
												</div>
												<div class="col-md-2">
													<button class="btn btn-primary btn-lg" style="width: 100%;">Import
														Supplier <br />Commision </button>
												</div>
												<div class="col-md-2">
													<button class="btn btn-primary btn-lg" style="width: 100%;">Import
														Supplier <br />Payment </button>
												</div>
												<div class="col-md-2">
													<button class="btn btn-primary btn-lg" style="width: 100%;">Import
														Client <br />Pmt </button>
												</div>
												<div class="col-md-2">
													<button class="btn btn-primary btn-lg" style="width: 100%;">Import
														Client <br />Payout </button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!--
							<div class="col-2" style="float: left;">
								
							</div>
							-->
							<div class="row">
								<div class="col-3" id="orderSetting" style="overflow-y: auto;">
									<div id="jstree"></div>
									<button id="add-resource" class="btn btn-secondary "><i class="align-middle me-2"
											data-feather="plus"></i>Add</button>
								</div>
								<div class="col-9 " id="orderContent">
									<!--col-12-->
									<div class="card">
										<div class="card-header">
											<div class="row">
												<div class="col-md-6">
													<h5 class="card-title">
														<%= title %>
													</h5>
													<h6 class="card-subtitle text-muted"></h6>
												</div>
												<div class="col-md-6" style="display: none;">
													<div class="card-actions float-end">
														<button id="export-resource" class="btn btn-secondary "><i
																class="align-middle me-2"
																data-feather="plus"></i>EXPORT</button>
													</div>
												</div>
											</div>

										</div>

										<div class="card-body">
											<table id="main-table" class="table table-striped table-bordered table-sm"
												data-resizable-columns-id="demo-table"
												style="width:100%;display: none;">
												<thead>
													<tr>
														<th data-action="true">Action</th>
														<th data-search="true">Name</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>

										</div>
									</div>
								</div>
							</div>

						</div>

						<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Add List</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">

										<form id="addForm" class="form needs-validation" autocomplete="off">
											<div class="modal-body">

												<div class="mb-3 prentData">
													<label class="form-label" id="selectedParentText"></label>
												</div>

												<div class="mb-3 prentData">
													<label class="form-label">Name</label>
													<input class="form-control" id="resourceName" autocomplete="off"
														required custom_validation="true"
														custom_validation_msg="Please enter name" />
												</div>

												<div class="mb-3 itemData">
													<label class="form-label">Value</label>
													<input class="form-control" id="resourceValue"
														custom_validation="true"
														custom_validation_msg="Please enter value" />
												</div>

												<div class="mb-3 itemData">
													<label class="form-label">Text</label>
													<input class="form-control" id="resourceText"
														custom_validation="true"
														custom_validation_msg="Please enter text" />
												</div>

											</div>
										</form>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary" id="add-confirm">Save</button>
									</div>
								</div>
							</div>
						</div>

						<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Delete Policy</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body m-3">
										<p class="mb-0">This will delete the content ?</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Close</button>
										<button type="button" class="btn btn-danger" id="delete-confirm">Delete</button>
									</div>
								</div>
							</div>
						</div>

						<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Edit List</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body m-3">

										<form id="editForm" class="form needs-validation" autocomplete="off">
											<div class="mb-3 prentData">
												<label class="form-label">Name</label>
												<input class="form-control" id="editResourceName" autocomplete="off"
													required custom_validation="true"
													custom_validation_msg="Please enter name" />
											</div>
											<div class="mb-3 itemData">
												<label class="form-label">Value</label>
												<input class="form-control" id="editResourceValue"
													custom_validation="true"
													custom_validation_msg="Please enter value" />
											</div>
											<div class="mb-3 itemData">
												<label class="form-label">Text</label>
												<input class="form-control" id="editResourceText"
													custom_validation="true"
													custom_validation_msg="Please enter text" />
											</div>
										</form>

									</div>
									<div class="modal-footer">
										<input type="hidden" id="editListId">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary" id="edit-confirm">Update</button>
									</div>
								</div>
							</div>
						</div>

					</main>
					<%- include("../partials/foot") %>
						<%- include("../partials/footer") %>
			</div>
	</div>
	<%- include("../partials/scripts") %>
		<script>
			const _apiBase = '/list';
			const _dataResource = [];
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
		<script src="js/pagination.js"></script>
		<script src="js/lists.js"></script>

</body>

</html>